<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="webstoryboy" />

    <title>freash_tomato</title>
    <meta name="description" content="티켓팅을 위한 사이트" />
    <meta name="keywords" content="티켓팅을 위한 사이트" />
    <title>Fresh Tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after" />
    <link rel="stylesheet" href="./style.css?after" />
    <link rel="stylesheet" href="./swiper.css?after" />
    <link
      hredf="./style.css"
      media="screen and (min-width: 512px) and (max-width: 1024px)"
      rel="stylesheet"
    />
    <link
      hredf="./swiper.css"
      media="screen and (min-width: 512px) and (max-width: 1024px)"
      rel="stylesheet"
    />

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="96x96"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="192x192"
      href="assets/icons/freash_tomato_logo.png"
    />

    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta
      property="og:url"
      content="https://github.com/webstoryboy/megabox2019"
    />
    <meta
      property="og:image"
      content="https://webstoryboy.github.io/megabox2019/mega.jpg"
    />
    <meta property="og:description" content="티켓팅을 위한 사이트" />

    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Fresh Tomato" />
    <meta
      name="twitter:url"
      content="https://github.com/webstoryboy/megabox2019/"
    />
    <meta
      name="twitter:image"
      content="https://webstoryboy.github.io/megabox2019/mega.jpg"
    />
    <meta name="twitter:description" content="티케팃을 위한 사이트" />

    <!-- 웹 폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation.css"
    />
    <link
      rel="stylesheet"
      href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_tnb.css"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>

    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
        alert(
          "현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!"
        );
      </script>
    <![endif]-->
  </head>

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="header clearfix">
          <h1>
            <a href="/">
              <strong
                ><img
                  src="assets/img/freash_tomato_main.png"
                  alt="LIFE THEATER"
                  style="transform: translateY(-20px);"
              /></strong>
            </a>
          </h1>
          <nav id="mNav">
            <h2 class="ir_so">티켓팅 전체메뉴</h2>
            <a href="#" class="ham"><span></span></a>
          </nav>
          <nav class="nav">
            <ul class="clearfix">
              <li><a href="/movie">영화</a></li>
              <li><a href="/musical">뮤지컬</a></li>
              <li><a href="/statistics">통계</a></li>
              <li><a href="/my_page">내정보</a></li>
              <% if (IS) { %>
              <li><a href="#" onclick="logoutCheck()"><%= nickname %></a></li>
              <% } else { %>
              <li><a href="/login">로그인</a></li>
              <% }; %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->

  <div class="search">
    <div class="input-box">
      <i class="uil uil-search"></i>
      <form action="/search" calass="form" id="form" method="POST">
        <input
          type="text"
          placeholder="영화를 검색하세요"
          class="input"
          name="searchinput"
        />
        <a href="/search">
          <button class="button">
            <img src="assets/img/search.png" />
          </button>
        </a>
      </form>
    </div>
  </div>

  <body>
    <a name="t"></a>
    <div
      id="wrap"
      oncontextmenu="return false"
      ondragstart="return false"
      onselectstart="return false"
    >
      <!-- 컨텐츠 -->
      <div id="container">
        <!-- 빠른예매 -->
        <div id="ticket" class="ticket ko" style="left:100px ;justify-content: center; display:flex">
          <!-- 메인컨텐츠 -->
          <div class="steps" style="width:fit-content">
            <!-- step1 -->
            <div
              class="step1"
              style="
                height: 650px;
                width: max-content;
                display: block;
                color: #3333;
              "
            >
              <!-- MOVIE 섹션 -->
              <div class="section section-movie" id="movie1">
                <!-- col-head -->
                <div class="col-head" id="skip_movie_list">
                  <h3 class="sreader">영화</h3>
                </div>
                <!-- col-body -->
                <div class="col-body" style="height: 565px">
                  <!-- 영화선택 -->
                  <div class="movie-select">
                    <ul>
                      <img
                        src="\assets\img\<%= title[0].screening_name %>.jpg"
                      />
                      <!--영화 이미지-->
                      <a style="font-size: 24px"
                        ><%= title[0].screening_name %></a
                      >
                    </ul>

                    <div
                      class="movie-list nano has-scrollbar has-scrollbar-y"
                      id="movie_list"
                    >
                      <ul
                        class="content scroll-y"
                        onscroll="movieSectionScrollEvent();"
                        tabindex="-1"
                        style="right: -17px"
                      ></ul>
                      <div
                        class="selectbox-movie-type checkedBD"
                        style="width: auto; top: 36px; display: none"
                      ></div>
                    </div>
                    <div
                      class="pane pane-y"
                      style="display: block; opacity: 1; visibility: visible"
                    ></div>
                    <div
                      class="pane pane-x"
                      style="display: none; opacity: 1; visibility: visible"
                    >
                      <div class="slider slider-x" style="width: 50px"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DATE 섹션 -->
              <div class="section section-date" id="date1">
                <div class="col-head" id="skip_date_list">
                  <h3 class="sreader">날짜</h3>
                </div>
                <div class="col-body" style="height: 565px; overflow: auto;">
                  <!-- 날짜선택 -->
                  <div
                    class="date-list nano has-scrollbar has-scrollbar-y"
                    id="date_list"
                  >
                    <ul
                      class="content scroll-y"
                      tabindex="-1"
                      style="right: 17px; height: 565px; width:85px;  overflow: auto;"
                    >
                      <div>
                        <li class="month dimmed">
                          <div>
                            <span class="year">2023</span
                            ><span class="month">10</span>
                            <div></div>
                          </div>
                        </li>
                        
                        <% for(var i = 10;i<date.length;i++) { %>
                        <% var stbg = [] %>
                        <% var num %>
                        <% if((dayd[i] == "day dimmed") || (dayd[i] == "day day-sat dimmed") || (dayd[i] == "day day-sun dimmed")) { %>
                          <% stbg[i] = "선택불가" %>
                        <% }else { %>
                          <% stbg[i] = "" %>
                        <% }; %>
                        <li
                          date-index="<%= i %>"
                          date="<%= date[i][0] %>"
                          class="<%= dayd[i] %>"
                        >
                          <a href="/choice?movie_name=<%= title[0].screening_name %>&day=<%= i + 1 %>"
                            ><span class="dayweek"><%= date[i][1] %></span
                            ><span class="day"><%= i + 1 %></span
                            >
                            <span class="sreader"><%= stbg[i] %></span></a
                          >
                        </li>
                        <% }; %>
                      </div>
                    </ul>
                    <div
                      class="pane pane-y"
                      style="display: block; opacity: 1; visibility: visible"
                    >
                      <!-- <div
                        class="slider slider-y"
                        style="height: 50px; top: 0px"
                      ></div> -->
                    </div>
                    <div
                      class="pane pane-x"
                      style="display: none; opacity: 1; visibility: visible"
                    >
                      <div class="slider slider-x" style="width: 50px"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TIME 섹션 -->
              <div class="section section-time" id="time1" style="width: max-content">
                <div class="col-head" id="skip_time_list">
                  <h3 class="sreader">시간</h3>
                </div>
                <div class="col-body" style="height: 565px">
                  <!-- 시간선택 -->
                  <div class="time-option">
                    <span class="morning">모닝</span
                    ><span class="night">심야</span>
                  </div>
                  <!--시간 상세내용-->
                  <ul style="height:565px; width: max-content; overflow: auto;">
                    <% if( sn != null) { %>
                      <% for(var i = 0;i<title.length;i++) { %>
                        <% if(title[i].screening_day.getDate() == sn) { %> 
                        <li style="width: max-content; ">
                            <button
                              movie-start="<%= title[i].screening_stime %>"
                              movie-end="<%= title[i].screening_etime %>"
                              movie-name="<%= title[i].screening_name %>"
                              class="custom-button"
                              onclick=""
                                style="width: 306px; font-weight: bold; background-color: transparent; color: black; border-radius: 0%; border-bottom: solid #cfcdc3; margin-left: 20px;"
                            >
                              <%= title[i].screening_stime %> ~ <%= title[i].screening_etime %> <%= title[i].screening_name %>
                            </button>
                        </li>
                        <% }; %>
                      <% }; %>
                    <% }; %>
                    
                    <!-- <li>
                      <button
                        movie-start="18:00"
                        movie-end="20:10"
                        movie-name="오펜하이머"
                        class="custom-button"
                      >
                        18:00 ~ 20:10 오펜하이머
                      </button>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //step1 -->

      <div id="ticket_tnb" class="tnb_container">
        <div class="tnb step1" id="tnb1">
          <button onclick="bt()" id="clbtn">
            <a class="btn-right" title="좌석선택"></a></button
          ><!--좌석선택버튼-->
        </div>
      </div>

      <script>
        var sn = [
          <% for(var i =0;i<selectednum.length;i++) { %>
          <%= selectednum[i] %>,
        <% }; %>
         ""];
        sn.pop();
        var dateSpans = document.querySelectorAll(".date-list li.day");

        dateSpans.forEach(function (dayElement) {
          dayElement.addEventListener("click", function () {
            var selectedDate = dayElement.getAttribute("date");
              console.log("선택한 날짜:", selectedDate);
          });
        });

        var buttons = document.querySelectorAll(".custom-button");
        var movieName = null;
        var startTime = null;
        var endTime = null;
        buttons.forEach(function (button) {
          button.addEventListener("click", function () {
            movieName = button.getAttribute("movie-name");
            startTime = button.getAttribute("movie-start");
            endTime = button.getAttribute("movie-end");
            console.log("영화 이름:", movieName);
            console.log("상영 시작 시간:", startTime);
            console.log("상영 종료 시간:", endTime);
            alert(movieName + " <%= sn %>일" + startTime + " ~ " + endTime + " 선택하셨습니다.");
          });
        });
      
        function bt() {
          if(startTime != null) {
            if (confirm(
          			"이 내용으로 예매 하시겠습니까?"
          			+ " 영화 : " + movieName
          			+ " 날짜 : <%= sn %>일"
          			+ " 시간 : " + startTime + " ~ " + endTime
          			) == true){    //확인
          					document.location.href="/reserve?movie_name="+movieName+"&movie_day=<%= sn %>&movie_stime=" + startTime + "&movie_etime=" + endTime;
          					}else{   //취소
          						return false;
          					}
          }else {
            alert("시간을 선택해 주세요!")
          }
        }
          function isMorningOrEvening(startTime) {
    var hour = parseInt(startTime.split(":")[0]);
    return hour < 9 || hour >= 17; // 아침(09시 이전) 또는 저녁(17시 이후)인 경우 true 반환
  }

  document.querySelectorAll('.custom-button').forEach(function(button) {
    var startTime = button.getAttribute('movie-start');
    var endTime = button.getAttribute('movie-end');
    if (isMorningOrEvening(startTime)) {
      var imgElement = document.createElement('img');
      imgElement.src = 'path_to_morning_or_evening_image.jpg'; // 아침 또는 저녁 이미지의 경로
      imgElement.alt = 'Morning or Evening Image';
      imgElement.style.width = '20px'; // 이미지 너비 조절
      imgElement.style.height = '20px'; // 이미지 높이 조절
      button.parentElement.appendChild(imgElement); // 버튼 부모 요소에 이미지 추가
    }
  });

        
      </script>
    </div>
    <style>
       @media screen and (max-width:1000px) {
            #ticket{
                height: 650px;
                width: 700px;
            }
            #ticket_tnb{
              width: 700px;
            }
            #tnb1{
              width: 700px;
            }
          }
             @media screen and (max-width:800px) {
            #container{
                height: 650px;
                width: 350px;
            }
            #ticket_tnb{
              width: 350px;
            }
            #tnb1{
              width: 350px;
            }
          }

          
           @media screen and (max-width: 600px) {
#ticket .section-movie{
              width: 600px;
              position: relative;
             left: 60px;
             
            }
            #container{
              height: 1300px;
            }
            
            #date1{
              position: relative;
              top: 650px;
             right: 550px;
            }
            #time1{
                  width: 500px;
              position: relative;
              top: 650px;
              right: 555px;
          
            }
            .movie-select {
              position: relative;
              left: 150px;
           
            }
             #ticket_tnb{
              width: 200px;
            }
            #tnb1{
              width: 20px;
            }
            #clbtn{
              position: relative;
              bottom: 20px;

            }
      

}



    </style>
  </body>
</html>
