<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="author" content="webstoryboy" />

    <title>freash_tomato</title>
    <meta name="description" content="티켓팅을 위한 사이트" />
    <meta name="keywords" content="티켓팅을 위한 사이트" />
    <title>Fresh Tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after" />
    <link rel="stylesheet" href="./style.css?after" />
    <link rel="stylesheet" href="./swiper.css?after" />
    <link
      hredf="./style.css"
      media="screen and (min-width: 512px) and (max-width: 1024px)"
      rel="stylesheet"
    />
    <link
      hredf="./swiper.css"
      media="screen and (min-width: 512px) and (max-width: 1024px)"
      rel="stylesheet"
    />

    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="96x96"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="assets/icons/freash_tomato_logo.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="192x192"
      href="assets/icons/freash_tomato_logo.png"
    />

    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta
      property="og:url"
      content="https://github.com/webstoryboy/megabox2019"
    />
    <meta
      property="og:image"
      content="https://webstoryboy.github.io/megabox2019/mega.jpg"
    />
    <meta property="og:description" content="티켓팅을 위한 사이트" />

    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Fresh Tomato" />
    <meta
      name="twitter:url"
      content="https://github.com/webstoryboy/megabox2019/"
    />
    <meta
      name="twitter:image"
      content="https://webstoryboy.github.io/megabox2019/mega.jpg"
    />
    <meta name="twitter:description" content="티케팃을 위한 사이트" />

    <!-- 웹 폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation.css"
    />
    <link
      rel="stylesheet"
      href="http://img.cgv.co.kr/CGV_RIA/Ticket/Common/css/2023/0720/FORM_TYPE/reservation_tnb.css"
    />

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    ></script>

    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
        alert(
          "현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!"
        );
      </script>
    <![endif]-->
  </head>

  <header id="header">
    <div class="container">
      <div class="row">
        <div class="header clearfix">
          <h1>
            <a href="/">
              <strong
                ><img
                  src="assets/img/freash_tomato_main.png"
                  alt="LIFE THEATER"
                  style="transform: translateY(-20px)"
              /></strong>
            </a>
          </h1>
          <nav id="mNav">
            <h2 class="ir_so">티켓팅 전체메뉴</h2>
            <a href="#" class="ham"><span></span></a>
          </nav>
          <nav class="nav">
            <ul class="clearfix">
              <li><a href="/movie">영화</a></li>
              <li><a href="/choice">영화예매</a></li>
              <li><a href="/my_page">내정보</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- //header -->

  <div class="search">
    <div class="input-box">
      <i class="uil uil-search"></i>
      <form action="/search" calass="form" id="form" method="POST">
        <input
          type="text"
          placeholder="영화를 검색하세요"
          class="input"
          name="searchinput"
        />
        <a href="/search">
          <button class="button">
            <img src="assets/img/search.png" />
          </button>
        </a>
      </form>
    </div>
  </div>

  <body>
    <a name="t"></a>
    <div
      id="wrap"
      oncontextmenu="return false"
      ondragstart="return false"
      onselectstart="return false"
    >
      <!-- 컨텐츠 -->
      <div id="container">
        <!-- 빠른예매 -->
        <div id="ticket" class="ticket ko">
          <!-- 메인컨텐츠 -->
          <div class="steps">
            <!-- step1 -->
            <div
              class="step step1"
              style="
                height: 650px;
                width: max-content;
                display: block;
                color: #3333;
              "
            >
              <!-- MOVIE 섹션 -->
              <div class="section section-movie">
                <!-- col-head -->
                <div class="col-head" id="skip_movie_list">
                  <h3 class="sreader">영화</h3>
                </div>
                <!-- col-body -->
                <div class="col-body" style="height: 565px">
                  <!-- 영화선택 -->
                  <div class="movie-select">
                    <ul>
                      <img
                        src="\assets\img\<%= title[0].screening_name %>.jpg"
                      />
                      <!--영화 이미지-->
                      <a style="font-size: 24px"
                        ><%= title[0].screening_name %></a
                      >
                    </ul>

                    <div
                      class="movie-list nano has-scrollbar has-scrollbar-y"
                      id="movie_list"
                    >
                      <ul
                        class="content scroll-y"
                        onscroll="movieSectionScrollEvent();"
                        tabindex="-1"
                        style="right: -17px"
                      ></ul>
                      <div
                        class="selectbox-movie-type checkedBD"
                        style="width: auto; top: 36px; display: none"
                      ></div>
                    </div>
                    <div
                      class="pane pane-y"
                      style="display: block; opacity: 1; visibility: visible"
                    ></div>
                    <div
                      class="pane pane-x"
                      style="display: none; opacity: 1; visibility: visible"
                    >
                      <div class="slider slider-x" style="width: 50px"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- DATE 섹션 -->
              <div class="section section-date">
                <div class="col-head" id="skip_date_list">
                  <h3 class="sreader">날짜</h3>
                </div>
                <div class="col-body" style="height: 565px">
                  <!-- 날짜선택 -->
                  <div
                    class="date-list nano has-scrollbar has-scrollbar-y"
                    id="date_list"
                  >
                    <ul
                      class="content scroll-y"
                      tabindex="-1"
                      style="right: -17px"
                    >
                      <div>
                        <li class="month dimmed">
                          <div>
                            <span class="year">2023</span
                            ><span class="month">10</span>
                            <div></div>
                          </div>
                        </li>
                        <% for(var i = 0;i<31;i++) { %> <% let dayd = "day"; %>

                        <li
                          date-index="<%= i %>"
                          date="<%= date[i][0] %>"
                          class="<%= dayd %>"
                        >
                          <a href="#" onclick="return false;"
                            ><span class="dayweek"><%= date[i][1] %></span
                            ><span class="day"><%= i + 1 %></span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <% }; %>
                        <!-- <li data-index="0" date="20231009" class="day dimmed">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">월</span
                            ><span class="day">9</span
                            ><span class="sreader">선택불가</span></a
                          >
                        </li>
                        <li data-index="1" date="20231010" class="day dimmed">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">화</span
                            ><span class="day">10</span
                            ><span class="sreader">선택불가</span></a
                          >
                        </li>
                        <li data-index="2" date="20231011" class="day">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">수</span
                            ><span class="day">11</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <li data-index="3" date="20231012" class="day">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">목</span
                            ><span class="day">12</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <li data-index="4" date="20231013" class="day">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">금</span
                            ><span class="day">13</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <li data-index="5" date="20231014" class="day day-sat">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">토</span
                            ><span class="day">14</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <li data-index="6" date="20231015" class="day day-sun">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">일</span
                            ><span class="day">15</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        <li data-index="7" date="20231016" class="day">
                          <a href="#" onclick="return false;"
                            ><span class="dayweek">월</span
                            ><span class="day">16</span
                            ><span class="sreader"></span
                          ></a>
                        </li>
                        -->
                      </div>
                    </ul>
                    <div
                      class="pane pane-y"
                      style="display: block; opacity: 1; visibility: visible"
                    >
                      <div
                        class="slider slider-y"
                        style="height: 50px; top: 0px"
                      ></div>
                    </div>
                    <div
                      class="pane pane-x"
                      style="display: none; opacity: 1; visibility: visible"
                    >
                      <div class="slider slider-x" style="width: 50px"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- TIME 섹션 -->
              <div class="section section-time" style="width: max-content">
                <div class="col-head" id="skip_time_list">
                  <h3 class="sreader">시간</h3>
                </div>
                <div class="col-body" style="height: 565px">
                  <!-- 시간선택 -->
                  <div class="time-option">
                    <span class="morning">모닝</span
                    ><span class="night">심야</span>
                  </div>
                  <!--시간 상세내용-->
                  <ul>
                    <li>
                      <button
                        movie-start="15:00"
                        movie-end="17:10"
                        movie-name="<%= title[0].screening_name %>"
                        class="custom-button"
                      >
                        15:00 ~ 17:10 <%= title[0].screening_name %>
                      </button>
                    </li>
                    <li>
                      <button
                        movie-start="18:00"
                        movie-end="20:10"
                        movie-name="오펜하이머"
                        class="custom-button"
                      >
                        18:00 ~ 20:10 오펜하이머
                      </button>
                    </li>
                    <li>
                      <button
                        movie-start="21:00"
                        movie-end="23:10"
                        movie-name="오펜하이머"
                        class="custom-button"
                      >
                        21:00 ~ 23:10 오펜하이머
                      </button>
                    </li>
                    <li>
                      <button
                        movie-start="00:00"
                        movie-end="02:10"
                        movie-name="오펜하이머"
                        class="custom-button"
                      >
                        00:00 ~ 02:10 오펜하이머
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //step1 -->

      <div id="ticket_tnb" class="tnb_container">
        <div class="tnb step1">
          <button onclick="bt()">
            <a class="btn-right" title="좌석선택"></a></button
          ><!--좌석선택버튼-->
        </div>
      </div>

      <script>
        var dateSpans = document.querySelectorAll(".date-list li.day");

        dateSpans.forEach(function (dayElement) {
          dayElement.addEventListener("click", function () {
            var selectedDate = dayElement.getAttribute("date");
            console.log("선택한 날짜:", selectedDate);
          });
        });

        var buttons = document.querySelectorAll(".custom-button");

        buttons.forEach(function (button) {
          button.addEventListener("click", function () {
            var movieName = button.getAttribute("movie-name");
            var startTime = button.getAttribute("movie-start");
            var endTime = button.getAttribute("movie-end");
            console.log("영화 이름:", movieName);
            console.log("상영 시작 시간:", startTime);
            console.log("상영 종료 시간:", endTime);
          });
        });

        function bt() {
          console.log("<%= rows2[0].screening_day %>");
          console.log("<%= day %>");
          alert("좌석선택 클릭");
        }
      </script>
    </div>
  </body>
</html>
