<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">

    <meta name="description" content="티켓팅을 위한 사이트">
    <meta name="keywords" content="티켓팅을 위한 사이트">
    <title>Fresh Tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after">
    <link rel="stylesheet" href="./style.css?after">
    <link rel="stylesheet" href="./swiper.css?after">
    <link hredf="./style.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">
    <link hredf="./swiper.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">

    
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/icons/freash_tomato_logo.png" />
    
    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta property="og:url" content="https://github.com/webstoryboy/megabox2019" />
    <meta property="og:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg" />
    <meta property="og:description" content="티켓팅을 위한 사이트" />
   
    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Fresh Tomato">
    <meta name="twitter:url" content="https://github.com/webstoryboy/megabox2019/">
    <meta name="twitter:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg">
    <meta name="twitter:description" content="티케팃을 위한 사이트">
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    

</head>
<body>
    
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="header clearfix">
                    <h1>
                        <a href="/">
     
                            <strong><img src="assets/img/freash_tomato_main.png" alt="LIFE THEATER" style="transform: translateY(-20px);"></strong>
                    
                        </a>    
                    </h1>




                        <nav id="mNav">
                        <div class="navbar_burger">
  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</div>

<div class="navbar_menu">
        <ul class="clearfix">
                            <li><a href="/movie">영화</a></li>
                            <li><a href="/choice">영화예매</a></li>
                            <li><a href="/my_page">내정보</a></li>
                            <% if (IS) { %>
                            <li>  <a href="#" onclick="logoutCheck()"><%= nickname %></a>  </li>
                            <% } else { %>
                            <li><a href="/login">로그인</a></li>
                            <% }; %>
                        </ul>
  <div class="navbar_burger_back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
      <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
    </svg>
  </div>
</div>
                        
                    </nav>
                    
      
                        
                    


                    <nav class="nav">
                     
                        <ul class="clearfix">
                            <li><a href="/movie">영화</a></li>
                            <li><a href="/choice">영화예매</a></li>
                            <li><a href="/my_page">내정보</a></li>
                            <% if (IS) { %>
                            <li>  <a href="#" onclick="logoutCheck()"><%= nickname %></a>  </li>
                            <% } else { %>
                            <li><a href="/login">로그인</a></li>
                            <% }; %>
                        </ul>
                    </nav>    
                </div>
            </div>
        </div>
    </header>
    <!-- //header -->

    <div class="search">
        <div class="input-box">
            <i class="uil uil-search"></i>
            <form action="/search" calass = "form" id="form" method="POST">
                <input type="text" placeholder="영화를 검색하세요" class="input" name="searchinput"/>
                <a href="/search">
                    <button class="button">
                        <img src="assets/img/search.png">
                    </button>
                </a>
            </form>
        </div>
    </div>
         <!-- 검색창 -->
    
    
    <section id="banner">
        <div class="banner_menu">
            <h2 class="ir_so">배너 영역</h2>
            <div class="container">
                <div class="row">
                    <div class="bm_left">
                        <ul>
                            <!-- <li class="total"><a href="#">전체메뉴</a></li>
                            <li class="line"><a href="#">필름 소사이어티</a></li>
                            <li><a href="#">클래식 소사이어티</a></li> -->
                        </ul>
                    </div>
                    <div class="bm_right">
                        <ul>
                            <!-- <li class="line"><a href="custom/faq.html">고객센터</a></li>
                            <li class="line"><a href="#">멤버쉽</a></li>
                            <li><a href="#">VIP</a></li> -->
                        </ul>
                        <ul>
                            <!-- <li class="white"><a href="#">상영시간표</a></li> -->
                            <!-- <li class="purple"><a href="/quickreserve">빠른예매</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
            <div class="slide">
                <img src="./assets/img/main_slider02.jpg" />              
                <div class="h1_text">
                <!-- <h1>봄바람 타고,<br>여행 떠나보는 건 어때요?</h1> -->
              </div>
                </div>
            <div class="nav" style="top:0">
              <label for="img-4" class="prev">&#x2039;</label>
              <label for="img-2" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                    <img src="./assets/img/main_slider01.jpg" />              
                    <div class="h1_text">
                    <!-- <h1>봄바람 타고,<br>여행 떠나보는 건 어때요?</h1> -->
                  </div>
                </div>
            <div class="nav">
              <label for="img-1" class="prev">&#x2039;</label>
              <label for="img-3" class="next">&#x203a;</label>
            </div>
            </li>
        
            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                    <img src="./assets/img/main_slider03.jpg" />              
                    <!-- <div class="h1_text">
                    <h1>봄바람 타고,<br>여행 떠나보는 건 어때요?</h1>
                  </div> -->
                </div>
            <div class="nav">
              <label for="img-2" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
            </li>
        
            <!-- <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                    <img src="./assets/img/main_slider04_03.jpg" />               -->
                    <!-- <div class="h1_text">
                    <h1>봄바람 타고,<br>여행 떠나보는 건 어때요?</h1>
                  </div> -->
                </div>
            <!-- <div class="nav">
              <label for="img-3" class="prev">&#x2039;</label>
              <label for="img-1" class="next">&#x203a;</label>
            </div>
            </li> -->
        
        
            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <!-- <label for="img-4" class="nav-dot" id="img-dot-4"></label> -->
              
              
            </li>
      </ul>
    </section>
    <!-- //banner -->
    
    
    <section id="movie">
        <h2 class="ir_so">최신 영화 정보</h2>
        <div class="container">
            <div class="row">
                <div class="movie">

                    <div class="index_button">
                      <div class="movie_button"> <button><a href="#">영화 순위</a></button></div>
                         <div class="musical_button"> <button><a href="/musical">뮤지컬 순위</a></button></div>
                         </div>
          
                    
                    <div class="movie_chart">
                        <div class="chart_cont1">
                            <h2 style="font-size: 30px; margin: 10px;">영화 순위</h2>
                            <% for (var i=0; i < 4; i++) { %>
                            <div>
                                <div class="poster">
                                    <figure>
                                        <img style="height:420px; width:292px" src="assets/img/<%= title[i].review_moviename %>.jpg" alt="<%= title[i].review_moviename %>">
                                    </figure>
                                    <div class="rank"><strong><%= i+1 %></strong></div>
                                    <div class="mx">
                                        <span class="icon m ir_pm">MX</span>
                                        <span class="icon b ir_pm">Boutique</span>
                                    </div>
                                </div>
                                <div class="infor">
                                    
                                    <h3><span class="icon all ir_pm">전체관람가</span> <strong> <%= title[i].review_moviename %> </strong></h3>
                                    
                                    <div class="infor_btn" style="display:flex; gap: 3px; ">
                                        <form action="/movie_in" class = "form" id="form" method="POST">
                                            <input type="text" name="moviename" style = "display:none" value =<%= title[i].review_moviename %> />
                                            <button type = "submit" class="button" style="display: inline-block; background: #f2f2f2; font-size: 18px; padding: 15px 30px;">상세정보</button>
                                        </form>
                                        <a href="/reserve?movie_name=<%= title[i].review_moviename %>">예매하기</a>
                                    </div>
                                        
                                        
                                    
                                </div>
                            </div>
                            <% }; %>
                        </div>
                            
                        <div class="chart_cont2">
                            <% for (var i=4; i < 8; i++) { %>
                            <div>
                                <div class="poster">
                                    <figure>
                                        <img style="height:420px; width:292px" src="assets/img/<%= title[i].review_moviename %>.jpg" alt="<%= title[i].review_moviename %>">
                                    </figure>
                                    <div class="rank"><strong><%= i+1 %></strong></div>
                                    <div class="mx">
                                        <span class="icon m ir_pm">MX</span>
                                        <span class="icon b ir_pm">Boutique</span>
                                    </div>
                                </div>
                                <div class="infor">
                                    <h3><span class="icon all ir_pm">전체관람가</span> <strong> <%= title[i].review_moviename %> </strong></h3>
                                    <div class="infor_btn" style="display:flex; gap: 3px; ">
                                        <form action="/movie_in" class = "form" id="form" method="POST">
                                            <input type="text" name="moviename" style = "display:none" value =<%= title[i].review_moviename %> />
                                            <button type = "submit" class="button" style="display: inline-block; background: #f2f2f2; font-size: 18px; padding: 15px 30px;">상세정보</button>
                                        </form>
                                        <a href="/reserve?movie_name=<%= title[i].review_moviename %>">예매하기</a>
                                    </div>
                                </div>
                            </div>
                            <% }; %>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
        
    </section>  
    <!-- //movie -->
    
    
    
    <!-- 자바스크립트 라이브러리 -->
    <script src="script.js"></script>

    <script>
        //배너 이미지 슬라이드
        var swiper = new Swiper('.swiper-container',{
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
        });
        
        //영화차트 탭 메뉴
        var movBtn = $(".movie_title > ul > li");    
        var movCont = $(".movie_chart > div");  

        movCont.hide().eq(0).show();

        movBtn.click(function(e){
            e.preventDefault();
            var target = $(this);         
            var index = target.index();  
            movBtn.removeClass("active");   
            target.addClass("active");    
            movCont.css("display","none");
            movCont.eq(index).css("display","block");
        });
        function logoutCheck() {
            if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                document.location.href="/logoutprocess";
            }else{   //취소
                return false;
            }
        }
    </script>
    <!— 자바스크립트 라이브러리 —>
    <script src="assets/js/jquery.min_1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="assets/js/ie-checker.js"></script>
    <script src="assets/js/swiper.min.js"></script>
</body>
<style>

  .index_button .movie_button button,
  .index_button .musical_button button {
    background-color: Light/Gray/Black/Black (4%); 
    color: #FFFFFF; 
    font-size: 18px; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    margin: 3px;
      border-radius: 10px;
  }

  
  .index_button .movie_button button:hover,
  .index_button .musical_button button:hover {
    background-color: #0056b3;
  }
  .button:hover {
    color: orange;
  }
  /*햄버거 버튼 스타일*/
  .navbar_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.navbar_burger {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: #39106a;
}

.navbar_burger_back {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.navbar_menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
 background-color: rgba(0, 0, 0, 1);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateX(100%);
  z-index: 999;
  color: #000;
  transition: transform 0.3s ease;
}

.navbar_menu a {
  position: relative;
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 3rem;
  text-decoration: none;
}

.navbar_menu.active {
  transform: translateX(0);
}

.navbar_overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.navbar_menu li:not(:last-child)::after {
    content: "";
    display: block;
    width: 150%;
    height: 1px; /* 가로선의 높이 설정 가능 */
    background-color: white; /* 가로선의 색상 설정 가능 */
    margin-top: 10px; /* 가로선 위 여백 설정 가능 */
}
@media screen and (min-width:550px) and (max-width: 1280px) {
    .chart_cont1 {
      width: 900px;
       height: 1300px;
        margin-left: auto;
    }
       .chart_cont2 {
       width: 900px;
       height: 1300px;
        margin-left: auto;
       }
    
 
     }


  
</style>

<script>
   const navbarBurger = document.querySelector('.navbar_burger');
  const navbarburgerback = document.querySelector('.navbar_burger_back');
  const navbarMenu = document.querySelector('.navbar_menu');
  const navbarOverlay = document.querySelector('.navbar_overlay');

  navbarBurger.addEventListener('click', () => {
    navbarMenu.classList.toggle('active');
    navbarOverlay.classList.toggle('active');
  });

  navbarburgerback.addEventListener('click', () => {
    navbarMenu.classList.remove('active');
    navbarOverlay.classList.remove('active');
  });

  navbarOverlay.addEventListener('click', () => {
    navbarMenu.classList.remove('active');
    navbarOverlay.classList.remove('active');
  });

  

</script>
</html>
