
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="티켓팅을 위한 사이트">
    <meta name="keywords" content="티켓팅을 위한 사이트">
    <title>fresh_tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./swiper.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    
    <style>
        
.star-rating {
  border:solid 1px #ccc;
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:white;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

/* explanation */

article {
  background-color:#ffe;
  box-shadow:0 0 1em 1px rgba(0,0,0,.25);
  color:#006;
  font-family:cursive;
  font-style:italic;
  margin:4em;
  max-width:30em;
  padding:2em;
}
    </style>

</head>
<body>
    <header id="header">
        <div class="container">
          <div class="row">
            <div class="header clearfix">
              <h1>
                <a href="/">
                  <strong
                    ><img
                      src="assets/img/freash_tomato_main.png"
                      alt="LIFE THEATER"
                      style="transform: translateY(-20px)"
                  /></strong>
                </a>
              </h1>
              <nav id="mNav">
                <h2 class="ir_so">티켓팅 전체메뉴</h2>
                <a href="#" class="ham"><span></span></a>
              </nav>
              <nav class="nav">
                <ul class="clearfix">
                  <li><a href="/movie">영화</a></li>
                 <li><a href="/musical_page">뮤지컬</a></li>
                 <li><a href="/statistics">통계</a></li> 
                  <li><a href="/my_page">내정보</a></li>
                  <% if (IS) { %>
                  <li><a href="#" onclick="logoutCheck()"><%= nickname %></a></li>
                  <% } else { %>
                  <li><a href="/login">로그인</a></li>
                  <% }; %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
    <!-- //header -->

    
   <div class="main_box" style="clear:both;">

        <div class="info-box"> <!-- 상세정보 박스-->
            <div class="detail-title">
            </div>
            <div class="movie-intro">
                <img src="assets/img/<%= list[0].movie_name %>.jpg">
            </div>
                <button class="btn_T"><a href="/choice?movie_name=<%= list[0].movie_name %>" style ="color: white;">예매하기</a></button>
        </div>
        

        <div class="main_text"> 
            <div class="main_top_text">
                <p class="p_소개1">[ 소개 ]</p>
                <hr>
                <div>
                <p class="p_소개내용1">
                    <%= list[0].movie_intro %>
                </p>
            </div>
            </div>
        </div>

        <div class="main_text2"> 
            <div>
                <p class="p_기본정보1">[ 기본정보 ]</p>
                <hr>
                <div>
                <p class="p_기본정보내용1">
                    개봉 &nbsp; &nbsp;| &nbsp; &nbsp; <span id="formatted-date"></span><br>
                    등급 &nbsp; &nbsp;| &nbsp; &nbsp; <%= list[0].movie_agecut %> 세 이상 관람가<br>
                    장르 &nbsp; &nbsp;| &nbsp; &nbsp; <%= list[0].movie_genre %><br>
                    감독 &nbsp; &nbsp;| &nbsp; &nbsp; <%= list[0].movie_director %><br>
                    주연 &nbsp; &nbsp;| &nbsp; &nbsp; <%= list[0].movie_star %><br>
                    
                </p>
            </div>
          </div>
   
            <div class="main_text3"> 
                <div>
                  <p class="p_한줄평가">[ 감상평 및 평점  ] <span class="rating-info"></span></p>
                  <hr>
                  <div class="comment-bar" style="width:100%">
                    <% if (duplicate == "false") { %>
                    <form action="/inreview" calass = "form" id="get_form" method="POST" style="width:100%; display: flex; justify-content: center;">
                        <input type="text" id="comment-input" name="olreview" placeholder="감상평을 작성해주세요..." style="width:70%; height:50%" >
                        
                       
                        <input type="text" name="moviename" value="<%= list[0].movie_name %>" style="display:none" />
                        <div class="star-rating">
                            <input type="radio" id="5-stars" name="rating" value="5" onclick="getnum(event)"/>
                            <label for="5-stars" class="star">&#9733;</label>
                            <input type="radio" id="4-stars" name="rating" value="4" onclick="getnum(event)"/>
                            <label for="4-stars" class="star">&#9733;</label>
                            <input type="radio" id="3-stars" name="rating" value="3"onclick="getnum(event)" />
                            <label for="3-stars" class="star">&#9733;</label>
                            <input type="radio" id="2-stars" name="rating" value="2" onclick="getnum(event)"/>
                            <label for="2-stars" class="star">&#9733;</label>
                            <input type="radio" id="1-star" name="rating" value="1" onclick="getnum(event)"/>
                            <label for="1-star" class="star">&#9733;</label>
                        </div>
                        <input type="number" name="rate" id="rating_input" style="display: none;"/>
                        
                        <button class="btn" id="submit-btn" type="submit">등록</button>
                        
   
                        
                    </form>
                    <% }else { %>
                      <p>이미 감상평을 작성하셨습니다!</p>
                    <% }; %>
                  </div>

              
                
                </div>
                
           
              </div>
             
        </div>


                 <div class="doughnut">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
      <canvas id="doughnut-chart"></canvas>
    </div>

    
        <div class="video_box" style="clear:both;">
          <iframe  width="780" height="400"
          src= "<%= list[0].movie_link %>"
           title="YouTube video player" 
           frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
         </iframe>
        </div>



        <div class="Comments" style="clear:both;">
  <div class="review_box" >
    <% if (reviews[0] != null) { %>
      <% for (var i = 0; i < reviews.length; i++) { %>
        <div class="comment-box">
          <p>작성자: <%= reviews[i].review_uid %></p> 
          <p id="text_input"> : <%= reviews[i].review_olreview %></p> 
          <p id="edate"> 평점: <span id="formatted-edate-<%= i %>" style="color:#FFD700;  "></span> </p>
          
        </div>
      <% }; %>
    <% } else { %>
      <div>
        <h3>검색결과 없음</h3>
      </div>
    <% }; %>
  </div>
</div>
    </div>


        <script>
        
           <% for (var i=0; i < reviews.length; i++) { %>


            var inputValue<%= i %> = <%= reviews[i].review_grade %>;
            var resultText= '';
            var target = document.getElementById("target");

            switch (inputValue<%= i %>) {
                case 1:
                    resultText = "★";
                    break;
                case 2:
                    resultText = "★★";
                    break;
                case 3:
                    resultText = "★★★";
                    break;
                case 4:
                    resultText = "★★★★";
                    break;
                case 5:
                    resultText = "★★★★★";
                    break;
                default:
                    break;
            }
            var formattedeDate<%= i %> = resultText;
            document.getElementById("formatted-edate-<%= i %>").innerHTML = formattedeDate<%= i %>;
                <% }; %>  
        </script>
        

          
</div>

<style>
  /*텍스트 한줄이상이면 ...*/
#text_input {
    white-space: nowrap;     
    overflow: hidden;          
    text-overflow: ellipsis;  
}
#edate{
 margin-left: auto;
}
    @media screen and (max-width:961px) {
        .main_text{
            height: 200px;
        }
        .main_text2{
            width: 400px;
          height: 200px;
           position: relative;
    bottom: 200px;
    left: 170px;
   
        }
    }
        @media screen and (max-width:770px) {
            .main_box{
                height: 0px;
            }
           
        .movie-intro img {
            width: 100px;
            height: auto;
        }
        .btn_T{
            width: 100px;
            position: relative;
            right: 40px;
        }
        .movie-intro{
            width: 150px;
        }
        .info-box{
            height: 100px;
        }
        .main_text{
            width: 100px;
            height: max-content;
            position: relative;
            bottom: 100px;
            left: 30px;
           font-size: 8px;
        }
        .main_top_text{
            width: 200px;
            height:200px;
        }
        .main_text2{
            font-size: 8px;
            position: relative;
            margin-top: 100px;
        }
       .main_text3 {
            width: 200px;
        }
       #comment-input{
            width: 100px;
             
        }
          @media screen and (max-width:500px) {
            .main_box{
                height: 400px;
            }
           
        .movie-intro img {
            width: 100px;
            height: auto;
        }
        .btn_T{
            width: 100px;
            position: relative;
            right: 40px;
        }
        .movie-intro{
            width: 150px;
        }
        .info-box{
            height: 100px;
        }
        .main_text{
            width: 100px;
            height: fit-content;
            position: relative;
            bottom: 100px;
            left: 30px;
           font-size: 8px;
        }
        .main_top_text{
            width: 200px;
        }
        .main_text2{
            font-size: 8px;
            position: relative;
            margin-top: 50px;
     
        }
       .main_text3 {
            width: 200px;
        }
       #comment-input{
            width: 100px;
             
        }




        
        .Comments{
             position: relative;
             top: 200px;
        }

        .video_box{
          width:100%;
          height:fit-content;
          display: flex;
          justify-content: center;
        }
    }

     .doughnut {
        width: 300px; /* 원하는 너비로 설정 */
        height: 300px; /* 원하는 높이로 설정 */
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
        background-color: #222;
      }

     
 
</style>
<% if (typeof ageData !== 'undefined') { %>
  <script>
  var ageData = <%- JSON.stringify(ageData) %>;

  // 나이대별로 그룹화하여 데이터 계산
  var ageGroups = {
    "10대": 0,
    "20대": 0,
    "30대": 0,
    "40대": 0,
    "50대 이상": 0
  };

 ageData.forEach(function(item) {
  var ageGroup = item.age_group;
  var count = item.count;

  ageGroups[ageGroup] += count;
});
  var labels = Object.keys(ageGroups);
  var counts = Object.values(ageGroups);

  new Chart(document.getElementById("doughnut-chart"), {
    type: "doughnut",
    data: {
      labels: labels,
      datasets: [{
        label: "예매 수",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
        data: counts
      }],
    },
    options: {
      title: {
        display: true,
        text: "나이대별 영화 예매 분포"
      },
      responsive: true,
      maintainAspectRatio: false
    },
  });
</script>
<% } %>


 
<script>
     function getnum(event) {
  document.getElementById('rating_input').value = 
    event.target.value;
}
</script>



    
</body>

<script>
    function logoutCheck() {
            if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                document.location.href="/logoutprocess";
            }else{   //취소
                return false;
            }
        }
       
     
  </script>



  <script>
    window.onload = function() {
      var dateString = "<%= list[0].movie_releasedate %>";
      var dateObj = new Date(dateString);

      var year = dateObj.getFullYear();
      var month = ("0" + (dateObj.getMonth() + 1)).slice(-2);
      var day = ("0" + dateObj.getDate()).slice(-2);

      var formattedDate = year + "년 " + month + "월 " + day + "일";

      document.getElementById("formatted-date").innerHTML = formattedDate;
    };
    function logoutCheck() {
            if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                document.location.href="/logoutprocess";
            }else{   //취소
                return false;
            }
        }
  </script>
</html>
