<!DOCTYPE html>
<html lang="ko">
<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">
    <title>freash_tomato</title>
    <meta name="description" content="티켓팅을 위한 사이트">
    <meta name="keywords" content="티켓팅을 위한 사이트">
    
    <!-- css -->
    <link rel="stylesheet" href="./reset.css?after">
    <link rel="stylesheet" href="./style.css?after">
    <link rel="stylesheet" href="./swiper.css?after">
    <link hredf="./style.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">
    <link hredf="./swiper.css" media="screen and (min-width: 512px) and (max-width: 1024px)" rel="stylesheet">

    
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="assets/icons/freash_tomato_logo.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/freash_tomato_logo.png" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="assets/icons/freash_tomato_logo.png" />
    
    <!-- 페이스북 메타 태그 -->
    <meta property="og:title" content="Fresh Tomato" />
    <meta property="og:url" content="https://github.com/webstoryboy/megabox2019" />
    <meta property="og:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg" />
    <meta property="og:description" content="티켓팅을 위한 사이트" />
   
    <!-- 트위터 메타 태그 -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Fresh Tomato">
    <meta name="twitter:url" content="https://github.com/webstoryboy/megabox2019/">
    <meta name="twitter:image" content="https://webstoryboy.github.io/megabox2019/mega.jpg">
    <meta name="twitter:description" content="티케팃을 위한 사이트">
    
    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">
    
    <!-- HTLM5shiv ie6~8 -->
    <!--[if lt IE 9]> 
      <script src="assets/js/html5shiv.min.js"></script>
      <script type="text/javascript">
         alert("현재 브라우저는 지원하지 않습니다. 크롬 브라우저를 추천합니다.!");
      </script>
   <![endif]-->
   
</head>
<body>
    
    <header id="header">
        <div class="container">
          <div class="row">
            <div class="header clearfix">
              <h1>
                <a href="/">
                  <strong
                    ><img
                      src="assets/img/freash_tomato_main.png"
                      alt="LIFE THEATER"
                      style="transform: translateY(-20px)"
                  /></strong>
                </a>
              </h1>
              <nav id="mNav">
                <h2 class="ir_so">티켓팅 전체메뉴</h2>
                <a href="#" class="ham"><span></span></a>
              </nav>
              <nav class="nav">
                <ul class="clearfix">
                  <li><a href="/movie">영화</a></li>
                 <li><a href="/musical_page">뮤지컬</a></li> 
                  <li><a href="/my_page">내정보</a></li>
                  <% if (IS) { %>
                  <li><a href="#" onclick="logoutCheck()"><%= nickname %></a></li>
                  <% } else { %>
                  <li><a href="/login">로그인</a></li>
                  <% }; %>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
    <!-- //header -->
    
    
 
    <style>
        .mypage_container {
            width: 400px;
            margin: 0 auto;
            padding: 100px;
            border: 3px solid #ccc;
            border-radius: 5px;
            
        }

        .mypage_profile {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

        .mypage_profile-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .mypage_profile-info {
            font-weight: bold;
        }

        .mypage_form-group {
            margin-bottom: 15px;
        }

        .mypage_form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .mypage_form-group input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #45a049;
        }
        .reserve_group {
            width:320px;
            margin: 5pt;
            border:1pt solid black ;
            
        }
        
      

    </style>
</head>
<body>
    <div style="display:flex; height: fit-content; width: 100%; justify-content: center;margin-top:40px ">
        <div class="mypage_container">
            <div class="mypage_form-group">
                <!-- <img src="사진링크" alt="프로필 사진" class="profile-img"> -->
                
                
            </div>
            <form action="/chinformation" calass = "form" id="form" method="POST">
            <div class="mypage_form-group">
    
                <label for="name">이름 : </label>
                <input type="text" id="name" name="name" value="<%= mypage[0].User_name %>" disabled />
                <input type ="text" id="unmae" name="uname" value="<%= mypage[0].User_name %>" style="display:none;"/>
                <label for="age">나이:</label>
                <input type="int" id="age" name="age" value="<%= mypage[0].User_age %>"/>
           
                <lab  el for="password">현재 비밀번호:</label>
                <input type="password" id="password" name="password"/>
           
                <label for="password">변경 비밀번호:</label>
                <input type="password" id="chpassword" name="chpassword" value = "" />
           
                <label for="phone">폰번호:</label>
                <input type="tel" id="phone" name="phone" value="<%= mypage[0].User_phonenum %>"/>
           
                <label for="email">이메일:</label>
                <input type="email" id="email" name="email" value="<%= mypage[0].User_email %>"/>
            
                <!-- <label for="salary">금액:</label>
                <input type="int" id="salary" name="cash"value="<%= mypage[0].User_cash %>"readonly/> -->
            </div>
            <!-- <div class="form-group"> -->
                <button type="submit" class="btn">수정</button>
            <!-- </div> -->
            </form>
            <div>
                
                
                <!-- <img src="사진링크" alt="프로필 사진" class="profile-img"> -->
              
                <div class="re_gp">
                    <% if (myreserve[0] != null) { %>
                        <% for (var i=0; i < myreserve.length; i++) { %> 
                        <div class="reserve_group" style="font-size: 16px;">
                
                            <div class="reserve_img" style="width: 320px; height:60%;">
                                <img src="assets/img/<%= myreserve[i].reserve_moviename %>.jpg" alt="<%= myreserve[i].myreserve_moviename %>">
                            </div>
                            <div class="reserve_info">
                                <div class="reservator_info">
                                    <label>예매 번호: </label>
                                    <label><%= i + 1 %></label>
                                    
                               
                                    <label>예매자 ID: </label>
                                    <label><%= myreserve[i].reserve_uid %></label>
                                    
                               
                                    <label>예매 좌석: </label>
                                    <label><%= myreserve[i].reserve_seat %></label>
                                </div>
                               
                                
                            <div class="movie_info">
                                <label>영화 이름: </label>
                                <label><%= myreserve[i].reserve_moviename %></label>
                                <br>

                                <label>영화 시작시간 : </label>
                                <label><span id="formatted-date-<%= i %>"></span></label>
                                
                                <br>
                                <label>영화 종료시간: </label>
                                <label><span id="formatted-edate-<%= i %>"></span></label>
                            </div>
                            </div>
                            
                          
                        
                       
                        </div>

                       
                        <% }; %>
                        <script>
                            <% for (var i=0; i < myreserve.length; i++) { %>
                          
                                var dateString<%= i %> = "<%= myreserve[i].reserve_moviestart %>";
                                var dateStringend<%= i %> = "<%= myreserve[i].reserve_movieend %>";
                                 var dateObj<%= i %> = new Date(dateString<%= i %>);
                                 var dateObjend<%= i %> = new Date(dateStringend<%= i %>);


                                var year<%= i %> = dateObj<%= i %>.getFullYear();
                            var month<%= i %> = ("" + (dateObj<%= i %>.getMonth() + 1)).padStart(2, '');
                            var day<%= i %> = ("" + dateObj<%= i %>.getDate()).padStart(2, '');
                            var hours<%= i %> = ("" + dateObj<%= i %>.getHours()).padStart(2, '');
                            var minutes<%= i %> = ("" + dateObj<%= i %>.getMinutes()).padStart(2, '');
                  
                            var eyear<%= i %> = dateObjend<%= i %>.getFullYear();
                            var emonth<%= i %> = ("" + (dateObjend<%= i %>.getMonth() + 1)).padStart(2, '');
                            var eday<%= i %> = ("" + dateObjend<%= i %>.getDate()).padStart(2, '');
                            var ehours<%= i %> = ("" + dateObjend<%= i %>.getHours()).padStart(2, '');
                            var eminutes<%= i %> = ("" + dateObjend<%= i %>.getMinutes()).padStart(2, '');
                  
                  
                            var formattedsDate<%= i %> = year<%= i %> + "년 " + month<%= i %> + "월 " + day<%= i %> + "일 " + hours<%= i %> + "시 " + minutes<%= i %> + "분";
                            var formattedeDate<%= i %> = eyear<%= i %> + "년 " + emonth<%= i %> + "월 " + eday<%= i %> + "일 " + ehours<%= i %> + "시 " + eminutes<%= i %> + "분";
                      
                            console.log(formattedsDate<%= i %>);
                            document.getElementById("formatted-date-<%= i %>").innerHTML = formattedsDate<%= i %>;
                            document.getElementById("formatted-edate-<%= i %>").innerHTML = formattedeDate<%= i %>;
                      
                            <% }; %>  

  

                        </script>
                        
        
            <% }else { %>
        <div>
            <h3>검색결과 없음</h3>
        </div>
                <% }; %>

  
            </div>
                
           
                        </div>
                            
                       
        </div>
    </div>      <!--mypage 소개창-->
    
    
    
</body>
    
    
    
    <!-- 자바스크립트 라이브러리 -->
    <script src="script.js"></script>
  
    
    <script>
        //배너 이미지 슬라이드
        var swiper = new Swiper('.swiper-container',{
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 5000,
            },
        });
        
    
    
    

        
        
        //영화차트 탭 메뉴
        var movBtn = $(".movie_title > ul > li");    
        var movCont = $(".movie_chart > div");  

        movCont.hide().eq(0).show();

        movBtn.click(function(e){
            e.preventDefault();
            var target = $(this);         
            var index = target.index();  
            movBtn.removeClass("active");   
            target.addClass("active");    
            movCont.css("display","none");
            movCont.eq(index).css("display","block");
        });
        function logoutCheck() {
            if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                document.location.href="/logoutprocess";
            }else{   //취소
                return false;
            }
        }
       
    </script>
</body>
</html>
