<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="webstoryboy">
    <meta name="description" content="티켓팅을 위한 사이트.">
    <meta name="keywords" content="티켓팅을 위한 사이트.">
    <title>fresh_tomato</title>

    <!-- css -->
    <link rel="stylesheet" href="./reset.css">
    <link rel="stylesheet" href="./style_movie.css">

    <!-- 웹 폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean" rel="stylesheet">

</head>
<header id="header">
    <div class="container">
      <div class="row">
        <div class="header clearfix">
          <h1>
            <a href="/">
              <strong
                ><img
                  src="assets/img/freash_tomato_main.png"
                  alt="LIFE THEATER"
                  style="transform: translateY(-20px)"
              /></strong>
            </a>
          </h1>
          <nav id="mNav">
            <h2 class="ir_so">티켓팅 전체메뉴</h2>
            <a href="#" class="ham"><span></span></a>
          </nav>
          <nav class="nav">
            <ul class="clearfix">
              <li><a href="/movie">영화</a></li>
              <li><a href="/musical_page">뮤지컬</a></li> 
              <li><a href="/my_page">내정보</a></li>
              <% if (IS) { %>
              <li><a href="#" onclick="logoutCheck()"><%= nickname %></a></li>
              <% } else { %>
              <li><a href="/login">로그인</a></li>
              <% }; %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
<!-- //header -->
<body>
    <div class="chart_div">
        <div class="chart">
       
                <canvas id="radar-chart" width="400" height="400"></canvas>
            </div>
        
            <div class="chart">
                <canvas id="radar-chart_genre" width="400" height="400"></canvas>
            </div>
        
        
    </div>
    
 
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        function logoutCheck() {
                if (confirm("정말 로그아웃하시겠습니까??") == true){    //확인
                    document.location.href="/logoutprocess";
                }else{   //취소
                    return false;
                }
        }
        new Chart(document.getElementById("radar-chart"), {
            type: 'radar',
            data: {
            labels: ["코미디", "드라마", "액션", "판타지",  "스릴러"] ,
            fontSize: 50,
            datasets: [
                <% if (data_0_9 != "") { %>
                {
                label: "0-9",
                fill: true,
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "rgba(179,181,198,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(179,181,198,1)",
                data: [<%= data_0_9 %>]
                },
                <% } %>
                <% if (data_10_19 != "") { %>
                {
                label: "10-19",
                fill: true,
                backgroundColor: "rgba(255,99,132,0.2)",
                borderColor: "rgba(255,99,132,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(255,99,132,1)",
                pointBorderColor: "#fff",
                data: [<%= data_10_19 %>]
                }, 
                <% } %>
                <% if (data_20_29 != "") { %>
                {
                label: "20-29",
                fill: true,
                backgroundColor: "rgba(54,162,235,0.2)",
                borderColor: "rgba(54,162,235,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(54,162,235,1)",
                pointBorderColor: "#fff",
                data: [<%= data_20_29 %>]
                }, 
                <% } %>
                <% if (data_30_39 != "") { %>
                {
                label: "30-39",
                fill: true,
                backgroundColor: "rgba(255,206,86,0.2)",
                borderColor: "rgba(255,206,86,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(255,206,86,1)",
                pointBorderColor: "#fff"
                data: [<%= data_30_39 %>]
                }, 
                <% } %>
                <% if (data_40_49 != "") { %>
                {
                label: "40-49",
                fill: true,
                backgroundColor: "rgba(75,192,192,0.2)",
                borderColor: "rgba(75,192,192,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(75,192,192,1)",
                pointBorderColor: "#fff",
                data: [<%= data_40_49 %>]
                }, 
                <% } %>
                <% if (data_50_59 != "") { %>
                {
                label: "50-59",
                fill: true,
                backgroundColor: "rgba(153,102,255,0.2)",
                borderColor: "rgba(153,102,255,1)",
                pointBorderColor: "#fff",
                pointBackgroundColor: "rgba(153,102,255,1)",
                pointBorderColor: "#fff",
                data: [<%= data_50_59 %>]
                }
                <% } %>
            ]
            },
            options: {
                title: {
                display: true,
                text: '나이대별 장르 통계'
                },
                legend: {
                    labels: {
                        fontSize: 18
                    }
			    }
            }
        });

       
        var chartData = <%- JSON.stringify(list) %>;
        console.log("chartData:", chartData);

        var labels = [];
        var data = [];

// 데이터를 레이블과 값으로 분리
chartData.forEach(item => {
  labels.push(item.movie_genre);
  data.push(item.count_of_reservations);
});

        //전체 장르 통계
        new Chart(document.getElementById("radar-chart_genre"), {
    type: 'radar',
    data: {
        labels: labels,
        datasets: [{
            label: "사용자",
            fill: true,
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            data: data
        }]
    },
    options: {
        
        title: {
            display: true,
            text: '전체 사용자의 선호 장르 통계'
        },
        legend: {
            labels: {
                fontSize: 18
            }
        }
    }
});

    </script>
    <style>

        .chart_div{
            background-color: #F2F2F2; width: 100%; height: 900px; justify-content:center; display:flex; align-items: center;
        }
        .chart{
            background-color: white;
            margin-left: 20px;
            width: 400px;
            height: 400px;
            border-radius: 30px;
        }

        @media screen and (max-width:730px){
            
            .input-box  {
                width: 500px;}
            .search{
                width: 400px;
            }
            .searchinput{
                width: 300px;
            }
        }

        @media screen and (max-width:500px){
                    
            .input-box  {
            width: 400px;
            }
                    
            .searchinput{
                width: 200px;
            }
            .input-box .button {
            width: 100px;
            height: 100px;
            }
        }
        @media screen and (min-width:550px) and (max-width: 1280px) {
            .chart_cont1 {
                width: 900px;
                height: 1300px;
                margin-left: auto;
            }
            .chart_cont2 {
                width: 900px;
                height: 1300px;
                margin-left: auto;
            }
        }

        .rank{
            visibility: hidden;
        }
    </style>
</body>
</html>

